<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/index.css">
  <title>Document</title>
</head>
<body>
  <h1>hello Express</h1>
  <table>
    <thead>
      <tr>
        <td>Long URL</td>
        <td>Short URL</td>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %>
      <tr>
      <td><%= item.longURL %></td>
      <td><%= item.id %></td>
      </tr>
      <% }) %> 
    </tbody>
  </table>
</body>
</html>